div {
	font-size: 20px;
}
first {
	color: blue;
}
last{
	color: red;
}
#red{
	color:red;
}
#blue{
	color: blue;
}
yellow{
	color: yellow;
}
black {
	color: black;
}
grey {
	color:grey;
}
white {
	color: white;
}
purple { 
	color:purple;
}
button {
	color: #FF734B;
}